<div class="container">
    <div class="row">
        <h2 class="text-center text-white">Ma bibliothèque</h2>




        <div *ngIf="books$ | async as books">
            <div class="no-article" *ngIf="books.length == 0; else block">

                <p>Vous n'avez publié aucun article sur le blog !</p>
            </div>

            <ng-template #block>

                <div *ngFor="let book of books" class="card">
                  <app-book-card ></app-book-card>
                </div>

            </ng-template>

        </div>
    </div>
</div>

