<div class="add-post-content">
  <div class="container">
    <div>
      <h3 class="new-post-title">Créer un nouveau livre</h3>
    </div>
    <hr>

    <form [formGroup]="addBookForm" (ngSubmit)="createBook()">

      <div class="form-group">
        <label class="post-title">Title</label>
        <input type="text" formControlName="title" class="form-control" placeholder="Title">
      </div>
      <div class="form-group">

        <label class="post-resume">Resume</label>
        <input type="text" formControlName="resume" class="form-control" placeholder="Resume">
      </div>

      <div class="form-group">

        <button class="btn btn-primary">Valider</button>
      </div>
    </form>
  </div>
</div>