<h1 class="text-center my-4">Bienvenue sur Read and play !</h1>
<!-- Block play -->
<div class="row justify-content-center bg-secondary">
    <div class="col-8 my-3">
        <div class="play-img">
            <img class="img-fluid" src="../../assets/img/banniere-home.jpg" alt="">
        </div>
        <div class="play-text text-center p-3">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, deserunt qui obcaecati aperiam totam enim sapiente repellendus distinctio? Sequi rem inventore quo impedit vitae optio incidunt eaque cum laborum reprehenderit?</p>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-success">Jouer !</button>
        </div>
    </div>
</div>

<!-- Block create -->
<div class="row my-5">
    <div class="col-5">
        <img class="img-fluid" src="../../assets/img/banniere-home.jpg" alt="">
    </div>
    <div class="col-7">
        <div class="row justify-content-center">
            <div class="text-center p-3">
                <h3>Heading</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, deserunt qui obcaecati aperiam totam enim sapiente repellendus distinctio? Sequi rem inventore quo impedit vitae optio incidunt eaque cum laborum reprehenderit?</p>
            </div>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-success">Créer !</button>
        </div>
    </div>
</div>
